<fieldset>
  <legend>
    Foo Incrementer from LocalService @ {{this.localService.router.currentRouteName}}
  </legend>

  {{this.localService.foo}}

  <button type="button" {{on 'click' this.localService.incrementFoo}}>
    Increment Foo
  </button>
</fieldset>