<fieldset>
  <legend>Person Incrementer</legend>

  <button {{on 'click' this.personService.nextPerson}}>
    Increment Foo
  </button>
  <br>

  {{#if this.personService.data}}
    {{stringify this.personService.data}}
  {{else}}
    Loading...
  {{/if}}

</fieldset>