<h2 id='title'>ember-contextual-services</h2>

<LinkTo @route='contextual-service-in-route'>
  Contextual Service in Route
</LinkTo>

|

<LinkTo @route='without-contextual-service'>
  Contextual Service in Route
</LinkTo>

|

<LinkTo @route='data-loading'>
  Data Loading
</LinkTo>

<hr>

{{outlet}}