<h2 id='title'>ember-contextual-services</h2>

<nav>
  <nav>
    <LinkTo @route='contextual-service-in-route'>
      Contextual Service in Route
    </LinkTo>
    <br>
    <LinkTo @route='contextual-service-in-route.foo'>Foo</LinkTo> |
    <LinkTo @route='contextual-service-in-route.foo'>Bar</LinkTo>
  </nav>
|

<LinkTo @route='without-contextual-service'>
  Contextual Service in Route
</LinkTo>

|

<LinkTo @route='data-loading'>
  Data Loading
</LinkTo>
</nav>

<hr>

{{outlet}}